
DallarBot/bin

DallarBot/obj

DallarBot/.vs

/.vs

DallarBot/settings\.json
log.txt

DallarDaemonClient/bin/

DallarDaemonClient/obj/

TwitchBot/bin/

TwitchBot/obj/

DallarSettings/bin/

DallarSettings/obj/
